.slider {
    width: 50%;
  }

.question_style2 {
    font-size: 20px;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  gap: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.left {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.right {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.question_style_centered {
  font-size: 20px;
  text-align: center;
}

.grey_line {
  borderWidth: 0.3vh;
  width: 100%;
  color:grey
}

.orange_line {
  border-width: 0.9vh;
  width: 100%;
  border-color:#FF9636;
  opacity: 0.2;
}

.grey_blue_line {
  border-width: 0.4vh;
  width: 100%;
  border-color:#0A4158;
  opacity: 0.3;
}

.green_line {
  border-width: 0.7vh;
  width: 100%;
  border-color: #8BC869;
  opacity: 0.6;
}

.rc-slider-track {
  background-color: #FF9636;
}

.rc-slider-dot-active {  
  border-color: #0A415;
  border: solid 10px #0A415;
}

.rc-slider-handle {
  background-color: #0A4158;
  border-color: #0A4158;
}

.rc-slider-handle:hover {
  border-color: #0A415;
}

.rc-slider-handle-active:active {
  border-color: #0A415;
}




.slider1 { 
  width: 40%;
  display: flex;
  color:#FF9636;
}

.slider2 { 
  width: 60%;
  display: flex
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
